
%html(lang="en")
    %head
        %meta(charset="UTF-8")/
        %meta(http-equiv="X-UA-Compatible" content="IE=edge")/
        %meta(name="viewport" content="width=device-width, initial-scale=1.0")/
        %title Document

        %script(src="https://kit.fontawesome.com/c0f618898f.js")
        %script(src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js")
        %script(src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.1/umd/react.production.min.js")
        %script(src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.1/umd/react-dom.production.min.js")
        %script(src="https://cdnjs.cloudflare.com/ajax/libs/xregexp/3.2.0/xregexp-all.min.js")
        %script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    %body
        %div(id="item")